<!DOCTYPE html>
<html data-ng-app="todoApp">

<head>
       <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="css/bootstrap.css">
    <title>Todo App</title>
</head>

<body data-ng-controller="MainCtrl as mn">
    <div class="container">
        <h1>Todos</h1>
        <div class="row">
            <div class="col-lg-6 col-md-6  col-sm-12 col-xs-12">
                <form data-ng-submit="mn.addTodo(mn.newTodo)">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" data-ng-model="mn.newTodo" id="newTodo" class="form-control">
                            <span class="input-group-btn">
            <button class="btn btn-primary" type="button" id="submit" data-ng-click="mn.addTodo(mn.newTodo)">Add Todo</button>
      </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <hr />
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="tabs">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a data-ng-href="#/">Due</a>
                        </li>
                        <li class="inactive"><a data-ng-href="#/done">Done</a>
                        </li>
                    </ul>
                </div>
                <div data-ng-view></div>
            </div>
        </div>
    </div>
    <script src="js/vendor/firebase.js"></script>
    <script src="js/vendor/angular.js"></script>
    <script src="js/vendor/angular-route.js"></script>
    <script src="js/vendor/angular-resource.js"></script>
    <script src="js/vendor/angularfire.min.js"></script>
    <script src="js/app.js"></script>
</body>

</html>
